/* .top {
  padding: 2em;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 1%;
  margin-bottom: 2%;
  background-color: rgb(194, 92, 124);
  height: 600px;
} */

/* .Maingrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 650px;
  width: 700px;
  background-color: white;
  justify-content: center;
  box-shadow: 2em;
} */
.Maingrid{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  padding: 0.5em;
  height:700px;
  width: 700px;
  background-color: powderblue;
}

.visible{
  display: block;
  /* color: red; */
}
.play {
  height: 30px;
  width: 70px;
  border: 2px solid;
  border-radius: 2px;
}
.invisible{
  display: none;
}
.window {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
}
.visible{
  background-color: powderblue;
  width: 500px;
  height: 250px;
  text-align: center;
  padding-top: 35px;
}